@mixin cardgradient($fastcolor: #9e03b0, $secdcolor: #71d4ff) {
  background: linear-gradient(128deg, $fastcolor, $secdcolor);
}

@mixin TrendinglogoSytle {
  font-size: 140px ;
  color: rgb(190, 14, 225);
  @apply absolute -bottom-4 left-0  text-black/10 -z-0;
}

@mixin totalTextstyle {
  p {
    @apply text-lg font-medium;
  }
  span {
    @apply font-semibold text-3xl;
  }
  @apply text-white;
}

.ditelCard {
  
  .cardwiper {
    .cardmincontaine {
      .monthsection {
        div {
          span {
            @apply text-base font-medium capitalize tracking-wider;
          }
          p {
            @apply text-xs p-[3px] px-[5px] rounded font-medium bg-black/40;
          }
          @apply flex justify-between items-center gap-2;
        }
        button{
          @apply text-black/70 cursor-pointer
        }
        @apply flex justify-between items-center z-30 ;
      }
      @apply flex flex-col justify-between gap-6 p-4  ;
    }
    .usercardscss {
      @include cardgradient(#05a941, #2ad96a);
      .RightIcon {
        @apply bg-gradient-to-t from-green-600/80  to-green-600/70 text-[#9de3a3];
      }
      @apply overflow-hidden;
    }
    .totalproductsscss {
      @include cardgradient(#226ed7, #62b1f5);
      .RightIcon {
        @apply bg-gradient-to-t from-[#2C78E5]  to-[#2C78E5]/70 text-[#83b4f3];
      }
      @apply overflow-hidden;
    }
    .totalOrdersscss {
      @include cardgradient(#b40ed5, #ed67ff);
      .RightIcon {
        @apply bg-gradient-to-t from-[#BF10E2]  to-[#BF10E2]/70 text-[#ec8bf9];
      }
      @apply overflow-hidden;
    }
    .totalreviewsscss {
      @include cardgradient(#d78d0e, #f4cf2b);
      .RightIcon {
        @apply bg-gradient-to-t from-[#E2960F]  to-[#E2960F]/70 text-[#ffd183];
      }
      @apply overflow-hidden;
    }
    .Trendinglogo {
      @include TrendinglogoSytle;
    }
    .cardRightIcon {
      @apply w-11 h-11 rounded-lg overflow-hidden flex justify-center items-center ;
    }

    .totalSalesLineBer{
      .x-axis-tick{
        // @apply fill-red-500
        fill: #FF5733; /* Fixed color */
      font-size: 14px;
      font-weight: bold;
      }
    }


    @include totalTextstyle;
    @apply col-span-2 row-span-4 relative rounded-lg overflow-hidden;
  }
}


